body {
	margin: 20px;
	font: 1.5em/1.2 sans-serif;
	text-align: center;
}

button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-size: 16px;
	border-radius: 5px;
}

figure {
	display: block;
	margin: 10px;
}

figcaption {
	text-align: left;
	font-weight: bold;
}

video, canvas {
	width: 480px;
	height: 360px;
	background-color: #999;
}

canvas {
	image-rendering: pixelated;
}